h1 {
    text-align: Center;
    color:  rgb(32, 29, 25);
    border: 8px solid;
    border-color: rgb(155, 116, 59);

}
#Subtítulo {
    background-color: transparent;
    color: rgb(32, 29, 25);
    border: 8px solid;
    border-color: rgb(138, 104, 55);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
} 
#RDS {
    color: rgb(224, 175, 102);
    font-family: Arial, Helvetica, sans-serif;
    border: 8px solid;
    border-color: rgb(218, 182, 130);
    padding: 5px ;
}
body{
    background-color:rgb(255, 237, 211);
}
footer{
    color: rgb(164, 164, 237);
}